__pycache__/
*.py[cod]

.venv/
venv/

dados/fashion-dataset-roupas/
dados/embeddings_resumidos.npz
dados/pares_outfits.npz
dados/styles_resumido.csv

model/*.pt
model/historico_treino.csv
model/historico_categoria.csv

dados/embeddings_v2.npz
dados/pares_outfits_v2.npz
dados/styles_v2.csv
model/historico_treino_*.csv
